<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/ah_3.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Academic Honesty</h1>
                <hr class="bottom-line">

                <p class="sub-title pad-bt15">Lately, Academic Honesty has become a prominent issue in educational and academic environments. It is no longer be defined as copying homework from a friend or cheating in an examination. Academic Institutions understand that students can't come up with their original work and therefore, allow the inclusion of other people’s work with the exception that the original author is appropriately acknowledged. </p>
                <p class="sub-title pad-bt15">Academic Dishonesty is a misdemeanour that students commit knowingly or unknowingly. The Academic Honesty module guides us so that we will never commit any form of Academic Dishonesty in the IB Program and throughout our Academic Journey. 
                </p>
                <p class="sub-title pad-bt15">
                    We had an interview with our Academic Honesty Teacher, Mrs Sreevidya Devanand to answer some of the frequently asked questions about Academic Honesty.
                    </p>

                <p class="sub-title pad-bt15"></p>


            </div>

            <div class="col-md-12">
                <p class="sub-title pad-bt15"><strong>Q: How would you introduce Academic Honesty to someone who has no clue what it is?</strong></p>
                
                <p class="sub-title pad-bt15">I would like to change the word Academic Honesty to Academic Integrity, which is one of the fundamentals of learning. Academic dishonesty begins in elementary school and peaks in high school in some form. So, I will introduce Academic Honesty with simple instances of cheating in classrooms.</p>

                <p class="sub-title pad-bt15"><strong>Q: Are academic dishonesty and plagiarism the same thing?</strong></p>
                
                <p class="sub-title pad-bt15">Plagiarism is one form of Academic dishonesty</p>

                <p class="sub-title pad-bt15"><strong>Q: What are some practices that are considered Academically Dishonest that a lot of people might not know?</strong></p>
                
                <p class="sub-title pad-bt15">Working in collaboration when individual work is expected, getting inspired from others and taking ideas from them without acknowledging, using a source that is prohibited, using photographs without permission can all count as Academic Dishonesty.</p>

                <p class="sub-title pad-bt15"><strong>Q: How can Academic Dishonesty ruin a student’s future?</strong></p>
                
                <p class="sub-title pad-bt15">Students who get away with academic dishonesty will feel guilty in the long run and this will affect their self-esteem. Academic dishonesty might result in failure of grades. Sometimes students will have to face legal consequences and may result in loss of opportunities in future.</p>

                <p class="sub-title pad-bt15"><strong>Q: What are the best ways to prevent yourself from being Academically Dishonest?</strong></p>
                <p class="sub-title pad-bt15">Take responsibility, meet deadlines, develop personal ethics and integrity.</p>

            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>