<%- include('partials/header') %>

<style>
    .header{
        background: url('../img/cd_main.png') no-repeat center center fixed;
        background-size: cover;
        min-height: 650px;
        position: relative;
    }
    .bg-color {
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 650px;
    }
</style>

</div>
</div>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Cultural Diversity</h1>
                <h4>One World, Many Cultures</h4>
                <hr class="bottom-line">
            </div>

            <div class="col-md-12">
            
                <p class="sub-title pad-bt15"><strong>What is Cultural Diversity?</strong></p>
                <p class="sub-title pad-bt15"> According to the internet, it is the existence of a variety of cultural or ethnic groups within a society. It is synonymous with the term <em>Multiculturalism</em> and would involve respecting each other's differences.</p>
            

                <p class="sub-title pad-bt15"><strong>What does being <em>Culturally Diverse</em> look like?</strong></p>
                <p class="sub-title pad-bt15">It starts with something as fundamental as recognizing the existence of several cultures that exist. It could also mean celebrating and understanding each other's differences, not just tolerating them. Recognizing the importance and acknowledging the validity of different cultural expressions and beliefs as valid. </p>

                <p class="sub-title pad-bt15">In this Module, We worked on evolving as more Culturally Diverse Citizens of the World. We had a quite enriching session on Language and Culture. We talked about English being an International Medium of Communication. We talked about a unique form or a Dialect of English known as Hiberno English, which is predominantly spoken by the people of Ireland. We discussed Nigerian Pidgins and Creoles. (Nigerian Pidgin is an English-based creole language spoken as a lingua franca across Nigeria) This session made us ponder over the significance of language dialects and how it helps preserve culture. </p>

                <p class="sub-title pad-bt15">This module has helped us look at the world from an entirely different perspective, and we hope to learn more about the various cultures of the world!</p>

                
            </div>

            <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
            <!-- </div> -->
        </div>
    </div>
</section>

<!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



<%- include('partials/footer') %>