<%- include('partials/header') %>

    <style>
        .header {
            background: url('') no-repeat center center fixed;
            background-size: cover;
            min-height: 650px;
            position: relative;
        }

        .bg-color {
            background-color: rgba(0, 0, 0, 0.1);
            min-height: 650px;
        }
    </style>

    </div>
    </div>

    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Philosophy of Learning</h1>
                    <h4>How do we know what we know?</h4>
                    <hr class="bottom-line">
                </div>

                <div class="col-md-12">

                    <p class="sub-title pad-bt15"> </p>
                    <p class="sub-title pad-bt15">Has it ever occurred to any one of us that mostly only when a question is posed
                        to us do we actually think about it.  During these past two weeks, we have learnt how to question our knowledge. During the classes we have done activities related to understanding how we
                        have obtained our knowledge.
                        
                    </p>



                    <p class="sub-title pad-bt15">Bridge D was shown a picture and they were asked a question- how did they
                        know what was going on in that picture, was it from personal experiences or from
                        pictures they had seen on the news. 
                        While Bridge C did an exercise where they had to give statements regarding
                        something they knew and had to back it up with evidence by doing research.
                        
                    </p>

                    <p class="sub-title pad-bt15"> On the other hand, Bridge B explored the world of perspectives. We understood
                        the concept of having a growth mindset. 
                        Philosophy of Learning is an intriguing module which had made us reflect on the
                        origin of our knowledge.
                        </p>

                    <p class="sub-title pad-bt15">As Jean Piaget has said - 
                        <i>“What we see changes what we know. What we know changes what we see.”</i></p>


                </div>

                <!-- <div class="portfolio-item padding-right-zero mr-btn-15"> -->
                <!-- </div> -->
            </div>
        </div>
    </section>

    <!-- // the background image might be an issue here, will replace it with diff image for each article
// for quotes, use italics
// for q and a, use bold for questions
// use paragraphs
// use hr after title
// try to add strong tags here and there for emphasis and to make page look lively -->



    <%- include('partials/footer') %>